.loading-message{
 display: block;
 align-items: center;
 font-size: large;
}

.error-card{
 /* From https://css.glass */
background: rgba(98, 218, 227, 0.506);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(255, 255, 255, 0.08);

display: block;
align-self: start;
padding:10px;
}